{% extends "layout.html" %}
{% block content %}
    <br><br>
	<img class="logo2" src="./static/img/logo.jpg" >
	<h3>
    From the beginning of 2020, BOOKS14P has become the best book selling store in Cardiff. <br> 
	  The newest and the best books on the market always arrive here first along with great and special offers!<br><br>
  <h3>
	<p> 
    You can find us at this address:<br>
	  14 Vere Str<br>
	  Cardiff, Wales<br>
	  CF24 3DS<br>
	  Email Address : info@books14p.com 
  </p>
{% endblock content %}
